<nav class="side-menu">
    <ul>
        <li>
            <button id="side-bar-lock" onclick="toggleSidebar()">
                <i class="fa fa-bars fa-2x fa-fw"></i>
                <i class="fa fa-times fa-2x fa-fw"></i>
            </button>
        </li>
        <li>
            <a href="/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        <li>
            <a href="/phases">
                <i class="fa fa-calendar fa-2x"></i>
                <span class="nav-text">
                    Phases
                </span>
            </a>
        </li>
        <li>
            <a href="/activities">
                <i class="fa fa-bolt fa-2x"></i>
                <span class="nav-text">
                    Activities
                </span>
            </a>
        </li>
        <li>
            <a href="/artifacts">
                <i class="fa fa-trophy fa-2x"></i>
                <span class="nav-text">
                    Artifacts
                </span>
            </a>
        </li>
        <li>
            <a href="/tools">
                <i class="fa fa-gavel fa-2x"></i>
                <span class="nav-text">
                    Tools
                </span>
            </a>
        </li>
        <li>
            <a href="/guidelines">
                <i class="fa fa-list-ol fa-2x"></i>
                <span class="nav-text">
                    Guidelines
                </span>
            </a>
        </li>
        <li>
            <a href="/roles">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Roles
                </span>
            </a>
        </li>
        <li>
            <a href="/templates">
                <i class="fa fa-file-text-o fa-2x"></i>
                <span class="nav-text">
                    Templates
                </span>
            </a>
        </li>
        <li>
            <a href="/workflow">
                <i class="fa fa-sitemap fa-2x"></i>
                <span class="nav-text">
                    Workflow
                </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="https://github.com/alexpsilva/TCC">
                <i class="fa fa-github fa-2x"></i>
                <span class="nav-text">
                    Github
                </span>
            </a>
        </li>
    </ul>
</nav>