---
layout: default
---

<h1>Activities</h1>

<div id="phases">
  {% for a in site.activities %}
  <div class="card activity {{a.pk}}">
    <input type="checkbox" id="{{ a.name }}-icon" class="expand-card" />
    <div class="expand-container">
      <label for="{{ a.name }}-icon" class="expand-icon"></label>
    </div>
    <div class="card-content">
      <span class="title">
        <h2>{{ a.name }}</h2>
        <a href="/activities?filter={{a.pk}}" class="iconLink">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </span>
      <div class="hidden-content">
        <div class="title-row">
          <span class="subtitle">Description</span>
          <div class="markdown-it text-block">{{ a.description }}</div>

          <span class="subtitle">Input Criterion</span>
          <p class="markdown-it text-block">{{ a.input_criterion }}</p>
        </div>

        <div class="card-row">
          <div class="right-column">
            <span class="subtitle">Required Artifact</span>
            {% if a.required_artifacts != "" and a.required_artifacts != null %}
            <ul>
              {% for required_artifact in a.required_artifacts %}
              <li>
                <a href="/artifacts?filter={{required_artifact[0]}}"
                  >{{required_artifact[1]}}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="right-column">
            <span class="subtitle">Produced Artifacts</span>
            {% if a.produced_artifacts != "" and a.produced_artifacts != null %}
            <ul>
              {% for produced_artifact in a.produced_artifacts %}
              <li>
                <a href="/artifacts?filter={{produced_artifact[0]}}"
                  >{{produced_artifact[1]}}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="right-column">
            <span class="subtitle">Participant Role</span>
            {% if a.participant_roles != "" and a.participant_roles != null %}
            <ul>
              {% for participant_role in a.participant_roles %}
              <li>
                <a href="/roles?filter={{participant_role[0]}}"
                  >{{participant_role[1]}}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="right-column">
            <span class="subtitle">Responsible Roles</span>
            {% if a.responsible_roles != "" and a.responsible_roles != null %}
            <ul>
              {% for responsible_role in a.responsible_roles %}
              <li>
                <a href="/roles?filter={{responsible_role[0]}}"
                  >{{responsible_role[1]}}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>

        <div class="card-row">
          <div class="right-column">
            <span class="subtitle">Sub Activities</span>
            {% if a.sub_activities != "" and a.sub_activities != null %}
            <ul>
              {% for sub_activity in a.sub_activities %}
              <li>
                <a href="/activities?filter={{sub_activity[0]}}"
                  >{{sub_activity[1]}}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="right-column">
            <span class="subtitle">Tools</span>
            {% if a.tools != "" and a.tools != null %}
            <ul>
              {% for tool in a.tools %}
              <li><a href="/tools?filter={{tool[0]}}">{{tool[1]}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="right-column">
            <span class="subtitle">Guidelines</span>
            {% if a.guidelines != "" and a.guidelines != null %}
            <ul>
              {% for guideline in a.guidelines %}
              <li>
                <a href="/guidelines?filter={{guideline[0]}}"
                  >{{guideline[1]}}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="right-column"></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get("filter");
  if (myParam != null) {
    const filters = myParam.split(",");
    filters.forEach(showFiltered);
  } else {
    showFiltered("activity");
  }

  function showFiltered(filter) {
    const test = document.querySelectorAll("." + filter);
    for (var i of test) {
      i.style.display = "block";
    }
    if (
      document.querySelectorAll('.card[style*="display: block"]').length === 1
    ) {
      document.querySelectorAll(
        '.card[style*="display: block"] input'
      )[0].checked = true;
    }
  }
</script>
