---
layout: default
---

<h1>Artifacts</h1>

<div id="artifacts">
  {% for a in site.artifacts %}
  <div class="card artifact {{a.pk}}">
    <input type="checkbox" id="{{ a.name }}-icon" class="expand-card">
    <div class="expand-container">
      <label for="{{ a.name }}-icon" class="expand-icon"></label>
    </div>
    <div class="card-content">
      <span class="title">
        <h2>{{ a.name }}</h2>
        <a href="/artifacts?filter={{a.pk}}" class="iconLink">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </span>
      <div class="hidden-content">

        <div class="left-column">
          <span class="subtitle">Description</span>
          <p class="markdown-it text-block">{{ a.description }}</p>

          <span class="subtitle">Optional?</span>
          <p class="text-block">{{ a.optional }}</p>
        </div>

        <div class="right-column">
          <span class="subtitle">Templates</span>
          {% if a.templates != "" and a.templates != null %}
          <ul>
            {% for template in a.templates %}
            <li><a href="/templates?filter={{template[0]}}">{{template[1]}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get('filter');
  if (myParam != null) {
    const filters = myParam.split(",")
    filters.forEach(showFiltered)
  } else {
    showFiltered("artifact")
  }

  function showFiltered(filter) {
    const test = document.querySelectorAll("." + filter)
    for (var i of test) {
      i.style.display = "block"
    }
    if (document.querySelectorAll('.card[style*="display: block"]').length === 1) {
      document.querySelectorAll('.card[style*="display: block"] input')[0].checked = true;
    }
  }
</script>