---
layout: default
---

<h1>Guidelines</h1>

<div id="guidelines">
  {% for a in site.guidelines %}
  <div class="card guideline {{a.pk}}">
    <input type="checkbox" id="{{ a.name }}-icon" class="expand-card" />
    <div class="expand-container">
      <label for="{{ a.name }}-icon" class="expand-icon"></label>
    </div>
    <div class="card-content">
      <span class="title">
        <h2>{{ a.name }}</h2>
        <a href="/guidelines?filter={{a.pk}}" class="iconLink">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </span>
      <div class="hidden-content">
        <div class="left-column">
          <span class="subtitle">Description</span>
          <p class="markdown-it text-block">{{ a.description }}</p>
        </div>
        <div class="right-column">
          {% if a.activities != "" and a.activities != null %}
          <span class="subtitle">Used in</span>
          <ul>
            {% for activity in a.activities %}
            <li><a href="/activities?filter={{activity[0]}}">{{activity[1]}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get("filter");
  if (myParam != null) {
    const filters = myParam.split(",");
    filters.forEach(showFiltered);
  } else {
    showFiltered("guideline");
  }

  function showFiltered(filter) {
    const test = document.querySelectorAll("." + filter);
    for (var i of test) {
      i.style.display = "block";
    }
    if (
      document.querySelectorAll('.card[style*="display: block"]').length === 1
    ) {
      document.querySelectorAll(
        '.card[style*="display: block"] input'
      )[0].checked = true;
    }
  }
</script>
